CLANG_ENABLE_MODULES = YES
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 25
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_HARDENED_RUNTIME = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleDisplayName = ColdHot
INFOPLIST_KEY_ITSAppUsesNonExemptEncryption = NO
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities
INFOPLIST_KEY_LSUIElement = YES
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2026 Xipi Young. All rights reserved.
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 14.0
MARKETING_VERSION = 1.5.1
PRODUCT_NAME = ColdHot
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_VERSION = 5.0
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
